@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2"),
    url("../fonts/inter-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2"),
    url("../fonts/inter-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2"),
    url("../fonts/inter-900.woff") format("woff");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --page-background: #feafc3;
  /* Варианты страниц #69a9ff и #fcc850 */
  --neutral: #b9b9b9;
  --extra-light: #fcfcfc;
  --light: #e7e7e7;
  --blank: #ffffff;
  --dark: #565c66;
  --extra-dark: #2d3440;
  --neutral-accent: #ff7799;
  --extra-light-accent: #ffcbd8;
  --bright-accent: #ff4a78;
  --extra-bright-accent: #ff2f64;
  --transparent-accent: rgba(252, 252, 252, 0.3);
  --transparent-border: rgba(45, 52, 64, 0.5);
}

html {
  height: 100%;
}

.page {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark);
  background-color: var(--page-background);
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  width: 1170px;
  margin: 0 auto;
}

/*Кнопки*/
/*button*/
.button {
  display: inline-block;
  border-radius: 26px;
  padding: 12px 32px;
  border: 0;
}

.button--form {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: var(--extra-light);
  background-color: var(--bright-accent);
}

.button--link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: var(--extra-dark);
  background-color: var(--extra-light);
}

.button--filter {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: var(--extra-dark);
  background-color: var(--transparent-accent);
}

/*Социальные кнопочки*/
/*social*/
.social {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.social__item {
  min-width: 24px;
  min-height: 24px;
}

.social__link {
  display: block;
  border-radius: 50%;
  background-color: var(--extra-light); /*Чтобы пока видно было*/
}

/*Заголовки*/
/*section-title*/
.section-title {
  margin: 0;
  margin-bottom: 56px;
}

.section-title--delivery {
  margin-bottom: 24px;
}

.section-title--сatalog {
  margin-bottom: 40px;
}


/*Карточки*/
/*cards*/
.cards {
  display: flex;
  justify-content: space-between;
}

/*card*/
.card--big {
  border-radius: 16px;
}

.card--small {
  border-radius: 8px;
}

.card--themed-border {
  background: url("../images/waffle-tile.jpg") repeat var(--blank);
}

.card--blog {
  background: url("../images/blog.jpg") no-repeat var(--blank);
  background-size: cover;
}

.card--post-border {
  background-image: repeating-linear-gradient(-50deg, #ff2f64 0, #ff2f64 9px, #edf1f5 10px, #edf1f5 22px, #68a9ff 23px, #68a9ff 31px, #edf1f5 32px, #edf1f5 44px, #ff2f64 45px);
}

.card--neutral-accent {
  background-color: var(--neutral-accent);
}

.card--light-accent {
  background-color: var(--extra-light);
}

.card--raspberry {
  background: url("../images/promo-action/raspberry.jpg") no-repeat 100% 0% var(--neutral-accent);
}

.card--marshmallow {
  background: url("../images/promo-action/marshmallow.jpg") no-repeat 100% 0% var(--neutral-accent);
}

.card--blank-accent {
  background-color: var(--blank);
}

.card-content {
  display: flex;
  column-gap: 135px;
  padding: 64px;
  box-sizing: border-box;
}

.card-title {
  margin: 0;
  margin-bottom: 28px;
}

.card-text {
  width: 328px;
  margin: 0;
  margin-bottom: 28px;
}

/*List reset*/
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**/
/*Хэдер*/
/**/
/*Навигация*/
/*navigation*/
.page-header {
  width: 1170px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  padding-top: 24px;
  align-items: center;
}

.navigation__logo {
  display: block;
  width: 137px;
  margin-right: 16px;
}

.site-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  margin-right: auto;
}

.site-navigation__link {
  font-style: normal;
  text-decoration: none;
  line-height: 20px;
  color: var(--extra-dark);
}

.menu-link--site {
  display: block;
  padding: 8px 16px;
}

.menu-link--user {
  display: block;
  padding: 6px 16px;
  /* У иконки поиска 8 на 8 */
  min-width: 16px;
  min-height: 16px;
}

.menu-link--phone {
  display: block;
  margin-right: 16px;
}

.navigation__phone {
  font-weight: 700;
  text-decoration: none;
  color: var(--extra-dark);
}

.user-navigation {
  display: flex;
  column-gap: 16px;
  max-width: 350px;
}

.user-navigation__item {
  background-color: var(--transparent-accent);
}

.user-navigation__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--extra-dark);
}

/**/
/*Футер*/
/**/
/*about*/
.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.common-page-footer {
  border-top: 1px solid var(--transparent-accent);
}

.about { /*Вроде простая фигня, но чуть мозг себе не сломал. Может есть способ проще?*/
  width: 400px;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px 24px;
  align-content: start; /* По-моему, в учебнике такого не было, но вроде можно https://www.w3.org/TR/css-align-3/#propdef-align-content*/
}

.about__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--extra-dark);
}

.about__link--favorite {
  font-weight: 700;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
  color: var(--extra-dark);
}

.footer-logo-container {
  width: 193px;
  margin-bottom: 14px;
}

.htmlacademy-link {
  text-decoration: none;
  border-bottom: 1px solid var(--transparent-border);
  color: var(--extra-dark);
}

/**/
/*Главная страница*/
/**/
/*main*/
.main-index {
  display: grid;
  row-gap: 80px;
}

/*Слайдер*/
/*slider*/
.promo {
  position: relative;
}

.slider__item {
  display: flex;
}

.slider__item-product {
  width: 540px;
  padding: 136px 0px 136px 70px;
  box-sizing: border-box;
}

.slider__item-product--inactive, /*Потом разделить*/
.slider__image--inactive {
  display: none;
}

.slider__image {
  padding: 21px 21px 26px;
}

.slider__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: var(--extra-dark);
}

.slider__definition {
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
  color: var(--extra-dark);
}

.slider-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
}

.promo-social {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*Промо*/
/*promo-action*/
.promo-action-cards__card {
  width: 570px;
  box-sizing: border-box;
  padding: 36px;
}

.promo-action__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: var(--extra-dark);
}

.promo-action-cards__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--extra-dark);
}

.promo-action-cards__description {
  line-height: 22px;
  color: var(--extra-dark);
}

/*Карточки товара*/
/*product-cards*/
.product-card {
  width: 270px;
}

.product-card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--extra-dark);
}

.product-card__description {
  line-height: 22px;
  color: var(--dark);
}

.product-card__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--extra-dark);
}

.product-card__button {
  background-color: var(--extra-bright-accent);
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
}

/*О компании*/
/*company-description*/
.company-description {
  width: 1170px;
  padding: 24px;
  box-sizing: border-box;
}

.company-description__container {
  width: 1122px;
  padding: 56px 40px;
  box-sizing: border-box;
  border-radius: 16px;
}

.company-description__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: var(--extra-dark);
}

.company-description__features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.company-description__features-item {
  width: 505px;
}

.company-description__features-item:last-child:nth-child(odd) {
  width: 1042px;
}

/*Блог и подписка*/
/*main-news*/
.main-news__item {
  width: 570px;
}

.main-news__blog-title {
  margin: 0;
  margin-bottom: 12px;   /* Чё-то я приуныл, и мне надоело в БЭМ играть. Это сколько же классов нужно расплодить, чтобы развести вид и форму? */
  line-height: 20px;
  color: var(--dark);
}

.main-news__blog {
  display: block;
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: var(--extra-dark);
}

.main-news__container {
  width: 558px;
  padding: 26px;
  box-sizing: border-box;
}

.main-news__container--blog { /* По идее БЭМ пытается исключить каскад, а я тут его добавляю. И блок должен быть закрыть на изменение, а я его изменяю. Нужно другой класс в принципе что ли? */
  padding: 32px;
}

.main-news__item--subscription {
  padding: 6px;
  box-sizing: border-box;
}

.main-news__subscription {
  margin: 0;
  margin-bottom: 42px;
}

.main-news__subscription-form {
  display: flex;
  column-gap: 14px;
}

.main-news__subscription-input { /* Тут надо бы разделить flex-grow и оформление по разным классам*/
  flex-grow: 1;
  line-height: 20px;
  color: var(--neutral);
}

.main-news__subscription-button {
  background-color: var(--extra-bright-accent);
}

/*Доставка*/
/*delivery*/
.delivery {
  width: 1170px;
  background: url("../images/delivery.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}

.delivery__text {
  width: 371px;
  padding-top: 103px;
  padding-left: 36px; /*Не могу придумать, как в данном случае сохранить единообразие падингов, чтобы не было left и bottom*/
}

.delivery__description {
  display: block;
  width: 371px;
  margin: 0;
}

.delivery__form-description {
  display: block;
  width: 380px;
  margin: 32;
}

.delivery__order {
  width: 500px;
  padding: 40px;
  box-sizing: border-box;
}

.delivery__title {
  font-size: 32px;
  line-height: 46px;
  color: var(--extra-dark);
}

.delivery__form-label {
  line-height: 20px;
  color: var(--extra-dark);
}

.delivery__input {
  line-height: 20px;
  color: var(--neutral);
}

.delivery__button {
  text-align: center;
}

/*Контакты*/
/*contacts*/
.contacts {
  width: 1170px;
  background: url("../images/contacts.jpg") no-repeat;
  background-size: cover;
}

.contacts__card {
  width: 343px;
  padding: 40px;
  box-sizing: border-box;
}

.contacts__title { /* Отсюда и ниже очередной смешение формы и оформления */
  width: 203px;
  margin: 0;
  margin-bottom: 12px;
  font-style: normal;
}

.contacts__address {
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--extra-dark);
}

.contacts__phone-number {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: var(--extra-dark);
}

.contacts__note {
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts__form {
  background-color: var(--extra-bright-accent);
}

/**/
/*Каталог*/
/**/
.common-header {
  margin-bottom: 32px;
}

.main-catalog {
  width: 1170px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  margin-bottom: 16px;
}

.breadcrumbs__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--extra-dark);
}

.breadcrumbs__link--current {
  border-bottom: 1px solid var(--extra-dark);
}

/*Карточки товаров с фильтрами*/
/*catalog*/
.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: var(--extra-dark);
}

.catalog-products-fields {
  display: flex;
  column-gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
}

.catalog-products__field {
  border: none;
}

.catalog-products__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--extra-dark);
}

.catalog-products__select {
  background-color: var(--transparent-accent);
  border-radius: 20px;
  border: none;
}

.catalog-products__select-item {
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
}

.catalog-products__filter-list {
  display: flex;
  column-gap: 16px;
  background-color: var(--transparent-accent);
  border-radius: 20px;
  border: none;
  }

.catalog-products__control-label {
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
}

.catalog-products__button {
  background-color: var(--transparent-accent);
}

.pagination {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: ". button list";
  padding-top: 57px;
  padding-bottom: 81px;
}

.pagination-button {
  grid-area: button;
  text-align: center;
}

.pagination-list {
  grid-area: list;
  display: flex;
  justify-self: end;
  list-style: none;
}

.pagination-list__link {
  display: block;
  min-width: 24px;
  min-height: 24px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--extra-dark);
  }
